*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    max-width: 100%;
}
.heading{
    background-color: #BEAB6B;
    padding: 10px;
    color: #000;
}
.section-one{
    min-height: auto;
}
.section-one .container{
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.carousel-inner {
    width: 80%;
    margin: 0 auto;
}
.offer {
    min-height: auto;
    
}
.offer .container .row{
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.description p{
    font-size: 20px;
}
.row{
    max-width: 100%;
}
#countdown  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
#countdown  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em 0;
    text-transform: uppercase;
    width: 210px;
    height: 210px;
    border: 1px solid #BEAB6B;
    border-radius: 50%;
    margin-left: 15px;
  }
  
#countdown  li span {
    display: block;
    font-size: 4.5rem;

  }
  
#countdown  .emoji {
    display: none;
    padding: 1rem;
  }
  
#countdown  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
.section-two{
    min-height: auto;
}
.section-two img{
    max-width: 100%;
}
.section-two ul li{
    font-size: 21px;
    margin-bottom: 5px;
}
.section-two .img img{
    max-height: 450px;
}
.section-two .img{
    position: relative;
}
.section-two .img::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #BEAB6B;
    top: 75px;
    left: -40px;
    z-index: -1;
}
.form{
    min-height: auto;
}
.video{
    min-height: auto;
}
.questions{
    min-height: auto;
}
.questions .container .row{
    min-height: auto;
}
.accordion-button::after {
    margin: 0;
    margin-right: auto;
}
.form .row .radio{
    border: 1px solid;
    padding: 30px 15px;
}
.modal-header .btn-close {
    margin-left: 0;
    margin-right: auto;
}
.logo {
    max-height: 200px;
    /* background-color: aquamarine; */
    text-align: center;
}
.stars img{
    width: 150px;
}
.logo img{
    max-width: 180px;
}
.offer h3 span{
    position: relative;
}
.offer h3 span img{
    position: absolute;
    width: 60px;
    transform: translate(10%, -18%);
}
.table-group-divider img{
    width: 70px;
}
.f-img img{
    width: 500px;
}
.features li,
.section-two li {
    position: relative;
    list-style: none;
    margin-bottom: 5px;
    font-size: 20px;
}
.features li .img,
.section-two li img{
    position: absolute;
    width: 15px;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.features li a img{
    width: 20px;
    margin-left: 10px;
}
@media (max-width: 1024px) {
    #countdown h1 {
          font-size: 2rem;
        }
        
    #countdown li {
          font-size: 1rem;
          width: 100px;
          height: 100px;
        margin-left: 5px;
        text-align: center;
        }
        
     #countdown li span {
          font-size: 16px;
        }
        .section-two .img img{
            max-height: 350px;
        }
        .section-two .img{
            position: relative;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }
        .section-two .img::after{
            content: '';
            position: absolute;
            width: 250px;
            height: 300px;
            background-color: #BEAB6B;
            top: 75px;
            left: -20px;
            z-index: -1;
        }
        .q-img{
            display: none;
        }
        .offer h3 span img{
            position: absolute;
            width: 50px;
            transform: translate(10%, -18%);
        }
        .features .f-img img{
            width: 340px;
            
        }
      }
      
  @media (max-width: 768px) {
#countdown h1 {
      font-size: 1rem;
    }
    ul, ol{padding: 0; margin: 0;}
    .features .f-img{
        display: none;
    }
#countdown li {
      font-size: 14px;
      width: 80px;
      height: 80px;
    margin-left: 3px;
    text-align: center;
    }
    
 #countdown li span {
      font-size: 16px;
    }
    .section-two .img img{
        max-height: 350px;
    }
    .section-two .img{
        position: relative;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .section-two .img::after{
        content: '';
        position: absolute;
        width: 250px;
        height: 300px;
        background-color: #BEAB6B;
        top: 75px;
        left: -20px;
        z-index: -1;
    }
    .q-img{
        display: none;
    }
    .offer h3 span img{
        position: absolute;
        width: 50px;
        transform: translate(10%, -18%);
    }
    .features li{
    margin-right: 15px;
}

  }
 
